# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Secured_Notepad\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
